{% extends 'Layouts/master.twig' %}

{% block body %}
	<div>
		<h1>{{project.title}}</h1>
		<p>{{project.content}}</p>	
		<a href="/index.php/">Retour a la maison</a>	
	</div>

{% endblock %}
                     